* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  opacity: 0.98;
  visibility: hidden;
  transform: translateX(100%);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  transition: all 0.4s ease-out;
}

.nav.open {
  visibility: visible;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.nav__menu {
  height: 100vh;
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: all 0.4s ease-out;
}

.nav__menu.open {
  transform: translateX(0);
}

.nav__menu .btn--close {
  margin: 2.8rem 0rem 3.5rem 88%;
}

.nav__menu .nav__items {
  list-style-type: none;
  margin-left: 2rem;
  color: #ffffff;
}

.nav__menu .nav__item {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.nav__menu .nav__item-num {
  margin-right: 0.6rem;
}

@media screen and (min-width: 601px) {
  .nav__btn {
    display: none;
  }
  .nav {
    visibility: visible;
    transform: translateX(0);
    position: relative;
    width: 60%;
  }
  .nav__menu {
    display: block;
    transform: translateX(0);
    height: 100%;
    width: auto;
  }
  .nav__menu .nav__items {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
  }
  .nav__menu .nav__items .nav__item {
    margin-bottom: 0;
    padding: 2rem 0;
    text-decoration: none;
  }
  .nav__menu .nav__items .nav__item:hover {
    border-bottom: 1px solid #979797;
  }
  .nav__menu .nav__items .nav__item.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  }
  .nav__menu .nav__items .nav__item-num {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin-top: 2.2rem;
    justify-content: space-between;
  }
  .nav::before {
    content: "";
    display: block;
    position: absolute;
    width: 52%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.28);
    left: -48%;
    top: 50%;
  }
  .nav__menu .nav__items .nav__item-num {
    display: inline-block;
    font-weight: 200;
  }
}

.page1 {
  background: url(../starter-code/assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home {
  text-align: center;
}

.home__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.home__text h4 {
  text-transform: uppercase;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}

.home__text h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 5rem;
  margin: 1rem;
}

.home__text p {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 25px;
  max-width: 70%;
  margin: auto;
}

.home .home__btn {
  width: 100%;
  margin: auto;
}

.home .home__btn .btn {
  height: 9.375rem;
  width: 9.375rem;
  border: none;
  border-radius: 50%;
  font-size: 1.23rem;
  text-transform: uppercase;
  color: #0b0d17;
  font-family: "Bellefair", serif;
}

.home .home__btn .btn:hover {
  outline: 40px solid rgba(255, 255, 255, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.4s ease-out;
}

@media screen and (min-width: 601px) {
  .page1 {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home {
    margin-top: 6.6rem;
    padding: 0 10rem;
  }
  .destination .destination__title h5 {
    text-align: start;
    font-size: 1.5rem;
  }
  .destination .destination__img {
    height: 20rem;
    width: 20rem;
  }
  .destination .destination__img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .destination .destination__text {
    max-width: 800px;
  }
  .destination .destination__name {
    font-size: 5rem;
  }
  .destination .details {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  .page1 {
    background: url(../starter-code/assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .home__text {
    margin-bottom: 0;
    text-align: left;
    flex-basis: 40%;
  }
  .home__text h4 {
    font-size: 1.75rem;
  }
  .home__text h1 {
    font-size: 9rem;
    margin-left: 0;
  }
  .home__text p {
    line-height: 32px;
    font-size: 1.5;
    margin: 0;
    min-width: 100%;
  }
  .home__btn {
    align-self: flex-end;
  }
  .home .home__btn .btn {
    height: 17rem;
    width: 17rem;
    margin-left: 60%;
    margin-top: 33%;
  }
  .home .home__btn .btn:hover {
    outline: 50px solid rgba(255, 255, 255, 0.15);
  }
  .destination {
    margin-top: 2rem;
  }
  .destination .destination__title {
    margin-left: 9%;
    margin-top: 2.5rem;
  }
  .destination .destination__title h5 {
    text-align: start;
    font-size: 2rem;
  }
  .destination .destination__img {
    height: 25rem;
    width: 25rem;
  }
  .destination .destination__img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .destination {
    margin-top: 2rem;
  }
  .destination .block {
    display: flex;
    margin-top: 5rem;
  }
  .destination__wrapper {
    flex-basis: 35%;
    margin-right: 12%;
  }
  .destination .destination__name {
    margin-top: 4rem;
    text-align: start;
  }
  .destination__text p {
    text-align: start;
    max-width: 400px;
    font-size: 1.2rem;
  }
  .destination .destination__wrapper .dnav {
    margin: 0;
    width: 60%;
  }
  .destination .destination__wrapper .dnav-list-items {
    justify-content: space-between;
  }
  .destination .destination__wrapper .destination__border {
    width: 400px;
    margin: 2rem 0;
  }
  .destination .destination__wrapper .details {
    margin: 0;
    width: 400px;
    justify-content: space-between;
  }
}

.page2 {
  background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 601px) {
  .page2 {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .page2 {
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.destination {
  padding: 0 1rem;
}

.destination__title {
  text-align: center;
  font-size: 1rem;
}

.destination__title h5 {
  font-size: 1rem;
}

.destination__title .title-num {
  margin-right: 0.6rem;
  font-weight: 900;
}

.destination__img {
  height: 16rem;
  width: 16rem;
  margin: 2.5rem auto;
}

.destination__img img {
  display: block;
  height: 100%;
  width: 100%;
}

.destination__wrapper {
  text-align: center;
}

.destination__wrapper .dnav {
  width: 85%;
  margin: 0 auto;
}

.destination__wrapper .dnav-list-items {
  display: flex;
  justify-content: space-around;
}

.destination__wrapper .dnav-list-items .list-item {
  font-size: clamp(1.2rem, 1.8vw, 2rem);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.destination__wrapper .dnav-list-items .list-item:hover {
  border-bottom: 1px solid #979797;
}

.destination__wrapper .dnav-list-items .list-item.active {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.destination__name {
  margin: 1.5rem auto;
  font-size: 3.5rem;
  color: green !important;
}

.destination__text {
  margin: 0 auto;
}

.destination__border {
  height: 1px;
  width: 80%;
  margin: 1.5rem auto;
  background-color: rgba(255, 255, 255, 0.28);
}

.destination .distance h5,
.destination .days h5 {
  font-size: clamp(1.2rem, 1.8vw, 2rem);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9rem;
}

.destination .distance h3,
.destination .days h3 {
  font-size: 28px;
  margin-top: 0.6rem;
}

.destination .distance {
  margin-bottom: 2rem;
}

p {
  color: green;
}

.page3 {
  background: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 601px) {
  .page3 {
    background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .page3 {
    background-image: url(../starter-code/assets//crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page3 p {
  color: green;
}

h1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
}

h2 {
  font-size: 6vw;
  color: #ffffff;
}

h3 {
  font-size: clamp(1rem, 10vw, 2rem);
  font-family: "Bellefair", serif;
  color: #ffffff;
  text-transform: uppercase;
}

h4 {
  font-size: 5vw;
  text-transform: uppercase;
}

h5 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

p {
  font-size: clamp(0.9rem, 1.1rem, 1.3rem);
  line-height: 25px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.content {
  margin: 1rem;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 3rem;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */